div.dotgraph img{
        border:1px solid #5555FF;
        width: 100%;
}

div.image div.caption{
        font:"Times New Roman",Georgia,Serif;
        font-size: medium;
        font-weight: bold;
        color:#5555FF;
} 