name: GitHub Pages

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v0.6

jobs:
  set_gh_pages:
    name: Release gh-pages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install and Authenticate GitHub CLI
        run: |
          sudo apt install gh -y
          echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token

      - name: Get latest web-build run ID
        id: get_run_id
        run: |
          RUN_ID=$(gh run list --workflow=web-build.yml --limit=1 --json databaseId -q '.[0].databaseId')
          echo "Latest run ID: $RUN_ID"
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV  # Save to environment variable

      - uses: actions/download-artifact@v4
        with:
          name: web-build-artifact-${{ github.sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          run-id: ${{ env.RUN_ID }}

      - shell: bash
        run: |
          ls
          mkdir -p ./public
          cp rmtld3synth.js ./public
          cp doc/page/*.* ./public
          ls ./public -l

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public